.navbar-container {
  height: 68px;
  padding: 0;;
  display: flex;
  justify-content: center;
}

.nav-brand {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.015em;
}

.container-fluid {
  padding-left: 18px;
  padding-right: 10px;
}

.btn-logout {
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  height: 30px;
}



.btn-logout h6 {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
}