.movies-container {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  align-items: center;
}

.movies-list-container {
  max-width: 1120px;
}

@media (min-width: 576px) {
  .movies-container {
    padding: 20px 20px;
  }

  @media (min-width: 576px) {
    .row {
      --bs-gutter-x: 20px;
    }
  }
}

@media (min-width: 768px) {
  .movies-container {
    padding: 40px 40px;
  }
  .row {
    --bs-gutter-x: 40px;
  }
}

@media (min-width: 1200px) {
  .row {
    --bs-gutter-x: 30px;
  }
}
